//! Header left right padding
.header-area {
    .main-header {
        padding: 0px 130px;
    
        // mobile menu show
        @media #{$md}{
            padding: 22px 50px;
         }
        @media #{$sm}{
            padding: 22px 20px;
         }
    

        //!  Menu
    }}

//! SubMenu Hover
.header-area .main-menu ul ul.submenu > li > a:hover {
        padding-left: 13px !important;
}
.header-area .main-menu ul > li:hover > ul.submenu {
    visibility: visible;
    opacity: 1;
    top: 100%;
}

//! Transparent Header
.header-transparent {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 9;
}

//! header Sticky  & Responsive
    .header-sticky{
        &.sticky-bar{
            // background: rgb(0, 0, 0);
            &.sticky {
                .main-menu{
                    ul {
                        li{
                            a {
                                padding: 20px 20px !important;
                            }
                        }
                    }
                }
                // Small device sticky show padding
                @media #{$md}{
                    padding: 15px 0px;
                }
                @media #{$sm}{
                    padding: 15px 0px;
                }
              
            }
        }
    }

//! Mobile Menu
    .mobile_menu {
        position: absolute;
        right: 0px;
        width: 100%;
        z-index: 99;
        .slicknav_menu {
            background: transparent;
            margin-top: 0px !important;
            .slicknav_btn {
               
                // mobile Menu button color
                .slicknav_icon-bar {
                    background-color: $theme-color !important;
                }
            }
            .slicknav_nav{
                margin-top: 15px !important;
                // box-shadow: 0 0 10px 3px rgba(141, 140, 140, 0.5);
                a:hover {
                    background: transparent;
                    color: $theme-color;
                }
                a {
                    font-size: 15px;
                    padding: 7px 10px;
                }
                // Dropdown Menu button Padding None
            .slicknav_item a {
                    padding: 0 !important;
                }
            }
        }
    }

